Makefile.in
autom4te.cache/
config.h.in
config.h.in~
aconf/package.sh
aconf/version.sh
configure
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
*.o
*.lo
*.la
*.tar.gz
tac_convert
tac_plus
tac_plus.8
tac_plus.conf.5
tac_pwd
users_guide
version.h
