[Unit]
Description=TACACS+ Daemon
After=network-online.target
After=crond.service
ConditionPathExists=/etc/tac_plus.conf

[Service]
LimitCORE=1G
StandardOutput=null

ExecStartPre=/usr/sbin/tac_plus \
  -C /etc/tac_plus.conf \
  -P

ExecStart=/usr/sbin/tac_plus \
  -C /etc/tac_plus.conf \
  -G

Restart=always

[Install]
WantedBy=multi-user.target

